html {
  color: #fff;
  background: #222;
  line-height: 1.5;
}

.root {
  display: flex;
  justify-content: center;
}

.content {
  width: 400px;
  margin: 200px auto;
  background: #535394;
  padding: 20px;
  display: flex;
}
